<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../img/icon.png" type="image/x-icon" />
    <title th:text="Juego"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Styles-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/gameshop3.css">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class='container container-app'>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eaedfc;">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="../img/icon.png" width="30" height="30" class="d-inline-block align-top" alt=""
                        loading="lazy">
                    GameShop4 <span style="color: black;">[Lab 8]</span>
                </a>
            </div>
        </nav>

        <div id="content">
            <main>
                <!-- Contenido -->
                <div class="container-fluid">

                    <div class="page-header text-center">
                        <h1>Juego</h1>
                    </div>

                    <!-- Formulario -->

                    <form method="POST" class="row g-3" action="juego.html" id="juegoform">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                            <div class="invalid-feedback" id="error-nombre" style="display: none; margin-bottom: 10px;">
                                Debe contener entre 3 y 50 caracteres </div>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
                            <div class="invalid-feedback" id="error-descripcion"
                                style="display: none; margin-bottom: 10px;">
                                Debe contener entre 3 y 512 caracteres</div>
                        </div>


                        <div class="form-group">
                            <label for="genero">Género</label>
                            <select class="form-select" name="genero" id="genero">
                                <option value="">- Seleccione -</option>
                                <option value="1">Acción</option>
                                <option value="2">Simulación</option>
                                <option value="3">Agilidad</option>
                                <option value="4">Acción-Aventura</option>
                                <option value="5">RPG</option>

                            </select>
                            <div class="invalid-feedback" id="error-genero" style="display: none; margin-bottom: 10px;">
                                Debe seleccionar un género</div>
                        </div>
                        <div class="form-group">
                            <label for="plataforma">Plataforma</label>
                            <select class="form-select" id="plataforma">
                                <option value="">- Seleccione una plataforma -</option>
                                <option value="1">Plataforma 1</option>
                                <option value="2">Plataforma 2</option>
                                <option value="3">Plataforma 3</option>
                            </select>
                            <div class="invalid-feedback" id="error-plataforma">Debe seleccionar una plataforma</div>
                        </div>
                        <div class="form-group">
                            <label for="distribuidora">Distribuidora</label>
                            <select class="form-select" id="distribuidora">
                                <option value="">- Seleccione una distribuidora -</option>
                                <option value="1">Distribuidora 1</option>
                                <option value="2">Distribuidora 2</option>
                                <option value="3">Distribuidora 3</option>
                            </select>
                            <div class="invalid-feedback" id="error-distribuidora">Debe seleccionar una distribuidora
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Imagen URL</label>
                            <input type="text" id="imagen" class="form-control">
                            <div class="invalid-feedback" id="error-imagen" style="display: none; margin-bottom: 10px;">
                                Debe contener entre 10 y 256 caracteres
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Precio</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">S/</div>
                                </div>
                                <input type="text" class="form-control" id="precio" name="precio">
                                <div class="invalid-feedback" id="error-precio"
                                    style="display: none; margin-bottom: 10px;">
                                    Debe ser un número entre S/.50 y S/.550</div>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{idjuego}" />
                        <div class="form-group">
                            <a href="#" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Añadir</button>
                        </div>
                    </form>

                    <!-- Lista de Juegos -->

                    <div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i>
                        <span th:text="${msg}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th></th>
                                <th style="width: 18%">Nombre</th>
                                <th style="width: 32%">Descripción</th>
                                <th style="width: 20%">Plataforma</th>
                                <th style="width: 10%">Distribuidora</th>
                                <th style="width: 20%">Precio (S/)</th>
                                <th style="width: 8%"></th>
                                <th style="width: 8%"></th>
                            </tr>
                        </thead>
                        <tbody id="juegos-container">
                            <!-- <tr>
                                <td></td>
                                <td><img style="max-width: 100px;"> + imagen + </td>
                                <td>
                                    <span> + nombre + </span>
                                    <span class="badge bg-warning text-dark"> + genero + </span>
                                </td>
                                <td> +descripcion+ </td>
                                <td> +plataforma +</td>
                                <td>+ distribuidora+ </td>
                                <td> + precio </td>+ </td>

                                <td><a class="btn btn-primary" href="#"><span class="bi bi-pencil-square"></span> Editar
                                    </a></td>
                                <td><a class="btn btn-danger" href="#"><span class="bi bi-trash"></span> Borrar</a></td>
                            </tr> -->
                        </tbody>
                    </table>


                    <div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="bi bi-check-circle-fill"></i>
                        <span th:text="${msg}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    

                    <div class="container-fluid">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 card-app">
                            <div class="col mb-4" th:each="juego, index : ${listaJuegos}">
                                <div class="card">
                                    <img class="card-img-top" alt="Card image cap" th:src="${juego.image}">
                                    <span class="position-absolute top-100 end-0 translate-middle badge bg-danger fs-6"
                                        th:text="'$ ' + ${juego.precio}"></span>
                                    <a sec:authorize="hasAnyAuthority('ADMIN','USER')" class="btn btn-primary"
                                        th:title="Comprar" th:href="@{'/carrito/anadir?id=' + ${juego.idjuego}}"><span
                                            class="bi bi-plus-circle"></span> Comprar</a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <span th:text="${juego.nombre}"></span>
                                            <span class="badge bg-warning text-dark fs-6"
                                                th:text="${juego.genero.nombre}"></span>
                                        </h5>
                                        <p class="card-text" th:text="${juego.descripcion}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Contenido -->

            </main>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="../js/juego.js"></script>

</body>

</html>